body {
    margin: 0;
}

header {
    background-image: url(/bg/Rectangle\ 104.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    transition: all 0.3s ease 0s;
}

.header-button {
    width: 141px;
}

.main-first p {
    color: #FFF;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-first .first-text {
    display: flex;
    width: 298px;
    height: 96px;
    flex-direction: column;
    flex-shrink: 0;
}

.main-first .second-text {
    display: flex;
    width: 376px;
    height: 123px;
    flex-direction: column;
    flex-shrink: 0;
}

.main-first .rectangle {
    width: 152px;
    height: 40px;
}

.button-img {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    background-image: url(/css/svg/Group\ 14.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #94CFFF;
    text-align: justify;
    font-size: 20px;
    font-family: HeadlandOne;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
}

.wrapper {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: Hammersmith One;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.switch-area {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    border-radius: 40px;
    border: 2px solid white;
    box-sizing: border-box;
}

.switch-area input {
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 11px;
    top: 3px;
    left: 4px;
    background-color: white;
    -webkit-transition: .5s;
}

input:checked+.slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

.slider.circle {
    border-radius: 36px;
}

.slider.circle:before {
    border-radius: 50%;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-right: 38px;
}

.nav-item:hover {
    color: #94CFFF;
    font-weight: 600;
    transition: color 0.3s linear;
}

footer {
    background-image: url(/bg/Rectangle\ 104.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 30px 10%;
}

.main-first {
    background-image: url(/bg/Group\ 48\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 740px;
    flex-shrink: 0;
}

.trailer {
    background-image: url(/bg/Rectangle\ 10.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar-language {
    background-image: url(/bg/Rectangle\ 20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 704px;
    flex-shrink: 0;
}

.words {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}

.words p {
    color: #141414;
    text-align: center;
    font-size: 24px;
    font-family: HeadlandOne;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* words */
.words_1 {
    background-color: rgba(255, 255, 255, 0.70);
    width: 320px;
    height: 240px;
}

.words_2 {
    background-color: rgba(255, 255, 255, 0.70);
    width: 320px;
    height: 240px;
}

.words_3 {
    background-color: rgba(255, 255, 255, 0.70);
    width: 320px;
    height: 240px;
}

.words_4 {
    background-color: rgba(255, 255, 255, 0.70);
    width: 320px;
    height: 240px;
}

.words_5 {
    background-color: rgba(255, 255, 255, 0.70);
    width: 320px;
    height: 240px;
}

.words_6 {
    background-color: rgba(255, 255, 255, 0.70);
    width: 320px;
    height: 240px;
}



.contacs p {
    color: #FFF;
    text-align: justify;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}