.join_box-left p {
    color: #FFF;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.join li {
    list-style: none;
}

.join_box-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join_box-left .descr {
    display: flex;
    width: 298px;
    height: 96px;
    flex-direction: column;
    flex-shrink: 0;
}

.join .second-text {
    display: flex;
    width: 376px;
    height: 123px;
    flex-direction: column;
    flex-shrink: 0;
}

.join {
    background-image: url(../../img/bg/firstbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 740px;

}

.join_btn {
    margin-top: 20px;
    border-radius: 35px 0px;
    border: 2px solid #26C6EA;
    background: #0B0E66;
    color: #26C6EA;
    font-size: 30px;
    padding: 15px 74px;
    font-family: HeadlandOne;
    cursor: pointer;
}

.join_box {
    padding: 180px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}